<meta name="description" content="{{ page_settings.description|default:'' }}">
<meta name="keywords" content="{{ page_settings.keywords|default:'' }}">
<meta name="author" content="{{ page_settings.author|default:'' }}">
<!-- Twitter Card Data -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:url" content="{{ page_settings.page_url|default:'' }}"/>
<meta name="twitter:title" content="{{ page_settings.title|default:'' }}"/>
<meta name="twitter:description" content="{{ page_settings.description|default:'' }}"/>
<meta name="twitter:creator" content="{{ page_settings.author|default:'' }}"/>

<!-- Open Graph data -->
<meta property="og:title" content="{{ page_settings.title|default:'' }}"/>
<meta property="og:url" content="{{ page_settings.page_url|default:'' }}"/>
<meta property="og:description" content="{{ page_settings.page_url|default:'' }}"/>