{% extends 'base.html' %}
{% load static %}
{% block title %} Password-reset {% endblock %}
{% block content %}
    <header class="login-hero">
        <div>
            <a href="{% url 'web:index' %}">
                <img class="logo" src="{% static 'img/logo.png' %}" alt="logo"/>
                <h2 class="brandname-logo">BrainSystems</h2>
            </a>

            <nav class="header-nav">
                <ul>
                    <li>
                        <a href="{% url 'web:index' %}" class="nav-link">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'web:kontakt' %}" class="nav-link">Kontakt</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'web:login' %}" class="nav-link">Login</a>
                    </li>
                </ul>
            </nav>
            <div class="menu-toggle"><i class="fas fa-bars"></i></div>
        </div>
    </header>
    <section class="login-form">
        <div class="login-fields">
            <h3>Neues Passwort anfordern</h3>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.email }}
                    <label for="id_email" class="control-label">Email</label><i class="bar"></i>
                </div>
                <div class="button-container">
                    <input type="submit" class="button" value="Passwort anfordern"/>
                </div>
            </form>
        </div>
    </section>
{% endblock %}


