{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <title>Userdaten</title>
</head>
<body class="backend-layout">
    <header class="backend-nav">
        <a href="{% url 'web:backend' %}" class="backend-logo-all">
            <img class="backend-logo" src="../../../static/img/logo.png" alt="logo" />
            <h2 class="backend-brandname-logo">BrainSystems</h2>
        </a>
    
        <nav class="backend-nav-links">
            <ul>
                <li>
                    <a href="{% url 'web:backend' %}" class="backend-nav-link">Home</a>
                    <a href="{% url 'web:backend' %}"><i class="fas fa-home"></i></a>
                </li>
                <li class="active">
                    <a href="{% url 'web:userdata' %}" class="backend-nav-link">Meine Daten</a>
                    <a href="{% url 'web:userdata' %}"><i class="fas fa-user"></i></a>
                </li>
                <li>
                    <a href="{% url 'web:chatbot' %}" class="backend-nav-link">Chatbot</a>
                    <a href="{% url 'web:chatbot' %}"><i class="fas fa-robot"></i></a>
                </li>
                <li>
                    <a href="{% url 'web:logout' %}" class="backend-nav-link">Logout</a>
                    <a href="{% url 'web:logout' %}"><i class="fas fa-sign-out-alt"></i></a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="formular">
        <h3>Meine Daten</h3>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-left">
                <div class="form-group">
                    {{ form.username }}
                    <label for="id_username" class="control-label">Username</label><i class="bar"></i>
                </div>
                <div class="form-group">
                    {{ form.email }}
                    <label for="id_email" class="control-label">Email</label><i class="bar"></i>
                </div>
            </div>
            <div class="form-right">
                <div class="form-group">
                    {{ form.first_name }}
                    <label for="id_first_name" class="control-label">Vorname</label><i class="bar"></i>
                </div>
                <div class="form-group">
                    {{ form.last_name }}
                    <label for="id_last_name" class="control-label">Nachname</label><i class="bar"></i>
                </div>
                <div class="checkbox">
                    <label class="dsgvo">Sie erklären sich damit einverstanden, dass Ihre Daten zur Bearbeitung Ihres Anliegens verwendet werden. Informationen und Wiederufshinweise finden Sie in der Datenschutzerklärung.
                    <input type="checkbox" checked="checked"/><i class="helper"></i>
                    </label>
                </div>
            </div>
            <div class="button-container">
                <input type="submit" class="button" value="Aktualisieren" />
            </div>
        </form>
    </section>
</body>
</html>
